:root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --gray: #4A4A4A;
    --lightgrey: #D6D6D6;
    --green: #00A650;
    --purple: #3f2f59; 
    --purple2: #5e4485;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body{
    background-size: 20px 20px;
   /*  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    body {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
      }
} 

.swal2-title {
    font-family: inherit;
  }

h1, h2, h3 {
    font-family: 'TT Supermolot';
}

img {
    max-width: 100%;
    height: auto;
}

.app {
    max-width: 1250px;
    width: 100%;
    margin: 50px auto; 
}