:root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --gray: #4A4A4A;
    --lightgrey: #D6D6D6;
    --green: #00A650;
    --purple: #3f2f59; 
    --purple2: #5e4485;
}

.modaltitle {
    background-color: var(--purple2);
    color: var(--white);
}

.swal2-title {
     font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 

}


.title {
    display: flex;
    justify-content: center;
}


.error{
    display: flex;
    justify-content: center;
    color: red;
}